{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.9",
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"]
        }]
    ]
}
